ul#product_list {
	list-style-type: none;
  float: left;
  width: 705px;
}
#product_list li {
	/*margin-bottom: 14px;*/
	/*padding: 12px 8px;*/
	/*border: 1px solid #eee;*/
	/*-moz-border-radius: 3px;*/
	/*-webkit-border-radius: 3px;*/
	/*border-radius: 3px;*/

  margin: 0 14px 30px 0;
  float: left;
  font-size: 12px;
  /*margin: 0 7px;*/
  width: 162px;
  height: 267px;
  position: relative;
}
#product_list li a {
	/*color: #374853;*/
	text-decoration: none;
}

#product_list li a.exclusive {
  border: medium none;
  float: right;
  padding: 0;
  /*padding-left: 3px;*/
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 32px;

}

#product_list li .left_block {
	float:left;
	padding-top:58px;
	width:15px
}
#product_list li .left_block  .compare label {display:none;}

#product_list li p.compare input {
	vertical-align: text-bottom
}
#product_list li .center_block {
  float: left;
	/*padding:0 7px;*/
   /*width: 342px;*//* 356 */
	/*border-right:1px dotted #ccc*/
}
#product_list a.product_img_link {
	overflow:hidden;
	position:relative;
	float: left;
	display:block;
	/*margin-right: 14px;*/
	/*border: 1px solid #ccc*/
}
#product_list a.product_img_link img {
	display: block;
	vertical-align: bottom
}
#product_list li span.new {
	display: block;
	position: absolute;
	top: 15px;
	right:-30px;
	padding: 1px 4px;
	width: 101px;
	font-size:10px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform:rotate(45deg);
	background-color: #990000;
	transform: rotate(45deg); 
	-ms-transform: rotate(45deg);			/* Newer browsers */
}

.ie8 #product_list li span.new{top:111px;right:0;width:94%}
.ie7 #product_list li span.new {top:111px;right:0;width:94%}

#product_list li h3 {
	/*padding:0 0 10px 0;*/
	/*font-size:13px;*/
	/*color:#000;*/
  font-size: 12px;
  font-weight: 700;
  padding: 4px 0 2px;
  margin: 0 0 10px;
}

#product_list li p.product_desc {
	overflow: hidden;
	padding:0;
	line-height:16px;
}
#product_list li p.product_desc,
#product_list li p.product_desc a {
	color:#666;
}

#product_list li .right_block {
position: absolute;
  width: 162px;
  margin-top: 2px;
  bottom: 0;
}
#product_list li .discount, ul#product_list li .on_sale, ul#product_list li .online_only {
	display: block;
	font-weight: bold;
	color: #990000;
	text-transform: uppercase
}
#product_list li .discount {
	position:absolute;
	top:0;
	right:0;
	display: inline-block;
	font-weight: bold;
	padding: 1px 5px;
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
	background: none repeat scroll 0 0 #9B0000
}
#product_list li .online_only {
	margin:0 0 10px 0
}
#product_list li .content_price {
  float: left;
}
#product_list li .price {
	display: block;
  font-weight: bold;
}
#product_list li span.availability {
	color: #488C40
}
#product_list li span.warning_inline {
	color: red
}
#product_list li .ajax_add_to_cart_button {
  display: inline-block;
}
#product_list li .ajax_add_to_cart_button span {
	/*display: block;
  height: 32px;
	width: 54px;
  background: url("../img/icon/pict_add_cart.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/

  background: url("../img/append-to-basket.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  bottom: 3px;
  display: block;
  height: 32px;
  overflow: hidden;
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  width: 54px;

}
#product_list li .lnk_view {
	display: block;
	margin-top:15px;
	padding:0 10px;
	border:none;
	font-weight:bold;
	color:#0088CC;
	background:url(../img/arrow_right_1.png) no-repeat 100% 4px transparent
}
#product_list li .lnk_view:hover {text-decoration:underline}

div.img_wrap {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 4px;
  height: 144px;
  overflow: hidden;
  padding: 3px;
  width: 154px;
}

.img_wrap img {
  border: 1px solid #DADADA;
  border-radius: 4px;
  max-height: 142px;
  max-width: 152px;
}